# Maven
cloud-backend/target/
cloud-backend/maven/
cloud-backend/maven.zip

# Python
edge-python/**/__pycache__/
*.pyc
edge-python/.pytest_cache/

# IDE
.idea/
*.iml
.vscode/

# Logs
cloud-backend/logs/
*.log

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Environment
.env
*.env.local
